header{
  display: flex;
  justify-content: center;
  font-weight: bold;
  position: sticky;
  top: 0px;
}
.logo, .menu{
  margin-right:250px;
  vertical-align: middle;
  display: inline-block;
}
.menu li{
  margin-right: 10px;
  display: inline-block;
   vertical-align: middle; 
}
.menu a{
  /*vertical-align: middle;*/
  font-family: arial;
  font-size: 15px;
  color: white;
  text-decoration: none;
}
.logo h1{
  vertical-align: middle;
  font-family: arial;
  font-size: 30px;
  color: white;
}
.menu a:hover{
  transition: all 1s ease;
  color: #00d95e;
}